<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

    <link href="/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <title>ТуДу пушка!</title>


    <style>
        table tbody tr td:nth-child(3) {
            text-align: center;
        }

        .my_ob {
            text-align: right;
            height: 150px;
        }

        .my_ob div {
            display: inline-block;
            position: fixed;
            bottom: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .my_ob div img {
            float: left;
            height: 4rem;
        }
    </style>


</head>
<body>

<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">ТуДу Пушка</span>
        </a>
        {% include 'adminForm.html' %}
    </div>
</header>

<main>
    {% block base %}
    гляжу вожу код html увидеть хочу
    {% endblock %}
</main>

<div class="my_ob">
    <div class="d-inline-block me-5 xmb-5 px-3 pt-2 shadow-lg">
        <img src="https://php-cat.com/phpcat/cat.png" class="pl-3"/>
        Реализация тест задания, Сергей Бакланов <A href="https://php-cat.com" target="_blank" class="text-blue-400">php-cat.com</a><br/>
        <A href="https://github.com/nyosru/test231116phpToDoList" target="_blank">https://github.com/nyosru/test231116phpToDoList</A>
    </div>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</html>
