{% extends "layouts/base.html" %}

{% block base %}
<div class="container">

    {% include 'alerts.html' %}

    <div class="row">
        <div class="col-12 p-3">
            {% include 'add.html' %}
        </div>
    </div>

    {% if list %}
    <div class="row">
        <div class="col-12">

            <table class="table table-success table-striped">
                <thead>
                <tr>
                    <th>Задача</th>
                    <th>Действия</th>
                    <th>Задача выполнена ?</th>
                </tr>
                </thead>
                <tbody>
                {% for li in list %}

                <tr>
                    <td>
                        {{ li.id }}
                        <b>{{ li.worker }}</b><br/>
                        <A href="mailto:{{ li.mail }}">{{ li.mail }}</a><br/>
                        <small>{{ li.opis|nl2br }}</small>
                    </td>
                    <td>
                        <a href="/delete?id={{ li.id }}" onclick="return confirm('удалить запись №{{ li.id }} ?')">Удалить</a>
                        <a href="/edit?id={{ li.id }}">Редактировать</a>
                    </td>
                    <td>
                        {{ li.finished ? 'да' : '-' }}
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}
</div>
{% endblock %}